.item {
    width: 288px;
    height: 214px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
}
.imgWrapper {
    display: flex;
    justify-content: center;
}
.header {
    margin: 20px 0;
    width: 288px;
    height: 26px;

    /* Body 16 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;

    /* Black 87 */

    color: rgba(0, 0, 0, 0.87);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.description {
    width: 288px;
    height: 78px;

    /* Body 16 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;

    /* Black 87 */

    color: rgba(0, 0, 0, 0.87);


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

/* FOR TABLET */
@media screen and (min-width: 768px) {
    .item {
        width: 304px;
    }
    .tabletMargin {
        margin-right: 16px;
    }
    .header {
        width: 304px;
    }
    .description {
        width: 304px;
    }
}

/* FOR LAPTOP */
@media screen and (min-width: 1024px) {
    .item {
        width: 242px;
    }
    .tabletMargin {
        margin-right: 0;
    }
    .laptopMargin {
        margin-right: 29px;
    }
    .header {
        width: 242px;
    }
    .description {
        width: 242px;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 2560px) {

}