.HeaderWrapper {
    display: flex;
    justify-content: center;
    background-color: #F8F8F8;
}
.logoWrapper {
    display: flex;
    align-items: center;
    margin-right: 14px;
    padding: 17px 0 17px 16px;
    width: 104px;
}
.btnWrapper {
    display: flex;
    justify-content: space-between;
    padding: 13px 16px 13px 0;
    width: 210px;
}
.logo {
    width: 38px;
    margin-right: 2px;
}
.text {
    width: 63px;
}

/* FOR TABLET */
@media screen and (min-width: 768px) {
    .HeaderWrapper {
        justify-content: space-between;
    }
    .logoWrapper {
        padding: 17px 0 17px 32px;
        margin: 0;
    }
    .btnWrapper {
        padding: 13px 32px 13px 0;
    }
}

/* FOR LAPTOP */
@media screen and (min-width: 1024px) {
    .logoWrapper {
        padding: 17px 0 17px 60px;
        margin: 0;
    }
    .btnWrapper {
        padding: 13px 60px 13px 0;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 2560px) {
    .logoWrapper {
        padding: 17px 0 17px 695px;
        margin: 0;
    }
    .btnWrapper {
        padding: 13px 695px 13px 0;
    }
}