.hero {
    background-image: url('/src/shared/pictures/hero_mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    height: 500px;
    padding: 40px 16px;
}
.description {
    margin-top: 21px;
    width: 328px;
    height: 182px;

    /* Body 16 */

    font-family: 'Nunito' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.btn {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

/* FOR TABLET */
@media screen and (min-width: 768px) {
    .hero {
        background-image: url('/src/shared/pictures/hero_tablet.png');
        padding: 89px 194px 0 194px;
    }
}

/* FOR LAPTOP */
@media screen and (min-width: 1024px) {
    .hero {
        background-image: url('/src/shared/pictures/hero_laptop.png');
        padding: 164px 322px 0 322px;
        height: 650px;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 2560px) {

}