@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nunito&display=swap');

a {
    text-decoration: none;
    color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
ul,
li,
button,
p {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}